/target/
logs/
experiments/replayF2021_experiments/logs/
experiments/replayF2021_experiments/config_files/*.csv
testLogs/

/slurm
slurm*.out

*.pyc
.idea/
!/.idea/


__pycache__/
--mode=client/
venv/

*.sublime-project
*.sublime-workspace
*.DS_Store
*.out
sftp-config.json
